{% extends "base.html" %}
{% block title %}Cluster Status{% endblock %}
{% block content %}
<h1>Cluster Status</h1>

<div class="accordion" id="accordion2">

{% for host in clusterhosts %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
        {{host}}
        <span class="pull-right">{{host.active_jobs}} of {{host.total_jobs}} jobs active, {{host.active_procs}} of {{host.total_procs}} processors active ({{host.percentage_active}}%)</span>
        <span class="clearfix"></span>
      </a>
    </div>
    <div id="collapse{{forloop.counter}}" class="accordion-body {% if forloop.counter == 1 %}collapse in{% else %}collapse{% endif %}">
      <div class="accordion-inner">
      	<table class='table table-condensed'>
          <thead>
            <tr>
              <th>Job Id</th>
              <th>Job Name</th>
              <th>Job Owner</th>
              <th>Job State</th>
              <th>Cores</th>
            </tr>
          </thead>
          <tbody>
          {% if host.total_jobs == 0 %}
            <tr class="warning"><td colspan="5">No jobs to be displayed.</td></tr>
          {% endif %}
          {% for job in clusterjobs %}{% if job.job_host == host %}
              {% if job.state == 'Active' %}<tr class="success">{% else %}<tr class="warning">{% endif %}
              <td>{{job.job_id}}</td><td>{{job.job_name}}</td><td>{{job.job_owner}}</td><td>{{job.state}}</td><td>{{job.n_cores}}</td></tr>
          {% endif %}{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}