<strong>Job state:</strong> {{simulation.state}}<br />

{% if simulation.last_known_jobid != None and simulation.state != "Complete" %}
<strong>Job id:</strong> {{simulation.last_known_jobid}}<br />
{% endif %}

<strong>Simulation start:</strong> {{simulation.start_time}}<br />

{% if simulation.progression != None %}
	<strong>Simulation progression:</strong> {{simulation.progression}}/{{simulation.project.production_protocol.total_ns}} ns <br />
{% endif %}

{% if simulation.simulation_rate != None %}
	<strong>Simulation rate:</strong> {{simulation.simulation_rate}} ns/day <br />
{% endif %}

{% if simulation.state == "Active" and simulation.estimated_completion != None %}
	<strong>Estimated completion:</strong> {{simulation.estimated_completion}} ({{simulation.estimated_completion|timeuntil}}) <br />
{% endif %}

<strong>Assigned cluster:</strong> {{simulation.assigned_cluster}}<br />

{% if simulation.n_cores != None %}
<strong>Allocated cores:</strong> {{simulation.n_cores}}<br />
{% endif %}

<strong>Work dir:</strong> {{simulation.work_dir}}<br />

<strong>Last status update:</strong> {{simulation.last_status_update}}<br />

{% if simulation.notes != "" %}
	<strong>Notes:</strong> {{simulation.notes}}<br />
{% endif %}