{% extends "base.html" %}
{% block title %}View Simulations{% endblock %}
{% block content %}


<table class='table table-condensed'><tr>
  <thead>
    <tr>
      <td><b>Id</b></td><td><b>Simulation Name</b></td><td><b>Status</b></td><td style="text-align:center"><b>Actions</b></td>
    </tr>
  </thead>
  {% for project in projects %}
  <tr>
    <td>{{project.id}}</td>
    <td>
       {{project.name}}
    </td>
    <td>
      {% for simulation in project.simulation_set.all %}
      <button class="btn btn-mini
        {% if simulation.state == "Active" %}
          btn-info
        {% elif simulation.state == "Idle" %}
          btn-warning
        {% elif simulation.state == "Fail" %}
          btn-danger
        {% elif simulation.state == "Complete" %}
          btn-success
        {% else %}
          btn-inverse
        {% endif %}make_popover" data-placement="bottom" title="{{project.name}}-{{simulation.name}}" data-content="{% include "job_views/status_popover.html" with simulation=simulation project=project %}" type="button">{{simulation.name}}</button>
      {% endfor %}
    </td>
    <td style="text-align:right">
      <button class="btn btn-mini" type="button">Update Status</button>
      <button class="btn btn-mini" type="button">Job Control</button>
      <button class="btn btn-mini" type="button">Analysis</button>
    </td>
  </tr>


  {% endfor %}

</table>
<a class="btn btn-mini" type="button" href="{% url 'manager:update_simulations' %}">Update All</a>

{% endblock %}