{% extends "base.html" %}
{% block title %}View Simulations{% endblock %}
{% block content %}


<table class='table table-condensed'><tr>
  <thead>
    <tr>
      <td><b>Id</b></td><td><b>Simulaiton Name</b></td><td><b>Status</b></td><td style="text-align:center"><b>Actions</b></td>
    </tr>
  </thead>
  {% for project in projects %}
  <tr>
    <td>{{project.id}}</td>
    <td>
       {{project.name}}
    </td>
    <td>
      {% for simulation in project.simulation_set.all %}
        {% if simulation.state == "active" %}
          <span class="label label-info">{{simulation.name}}</span>
        {% elif simulation.state == "idle" %}
          <span class="label">{{simulation.name}}</span>
        {% elif simulation.state == "failed" %}
          <span class="label label-important">{{simulation.name}}</span>
        {% elif simulation.state == "completed" %}
          <span class="label label-success">{{simulation.name}}</span>
        {% endif %}
      {% endfor %}
    </td>
    <td style="text-align:right">
      <button class="btn btn-mini" id="blah" data-content="And here's some amazing content. It's very engaging. right?" type="button">Update Status</button>
      <button class="btn btn-mini" type="button">Update Status</button>
    </td>
  </tr>

<!-- {% for simulation in project.simulation_set.all %}
  {{simulation.name}}
{% endfor %} -->

  {% endfor %}

</table>

<script type="text/javascript">
$("#blah").popover({ html:true });
</script>

{% endblock %}