{% extends "base.html" %}
{% block title %}Analyisis of {{ project.name }}{% endblock %}
{% block content %}

<h1>Analysis of {{project.name}}</h1>
<br>
<div class='span5'>
	<table class='table table-condensed'>
		<thead>
			<tr>
				<th>Project info</th> <th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td> <td>{{project.name}}</td>
			</tr>
			<tr>
				<td>Simulation length</td> <td>{{project.production_protocol.total_ns}} ns</td>
			</tr>
			<tr>
				<td>Simulation block size</td> <td>{{project.production_protocol.ns_per_block}} ns</td>
			</tr>
			<tr>
				<td>Simulation software</td> <td>{{project.simulation_package.name}}</td>
			</tr>
		</tbody>
	</table>
</div>

<br>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Run</th> <th>State</th> <th>Progression</th> <th style="text-align:center">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for simulation in project.simulation_set.all|dictsort:"name" %}
  <tr>
  	<td>{{simulation.name}}</td>
  	<td>{{simulation.state}}</td>
  	{% if simulation.state == 'Complete' %}
  		<td>{{simulation.project.production_protocol.total_ns}}/{{simulation.project.production_protocol.total_ns}} ns</td>
  	{% else %}
  		<td>{{simulation.progression}}/{{simulation.project.production_protocol.total_ns}} ns</td>
  	{% endif %}
  	<td style="text-align:right">

      {% if simulation.trajectory_state == 'Ready' and simulation.rmsd_data == "" %}
  		<a href="{% url 'manager:request_rmsd' project.id simulation.id %}" class="btn btn-mini" type="button">Request RMSD</a>
      {% else %}
      <button class="btn btn-mini disabled" type="button">Request RMSD</button>
      {% endif %}

  		<button class="btn btn-mini {% if simulation.trajectory_state != 'Ready' %}disabled{% endif %}" type="button">Request RMSF</button>
  		<button class="btn btn-mini {% if simulation.trajectory_state != 'Ready' %}disabled{% endif %}" type="button">Request snapshots</button>
      {% if simulation.trajectory_state == '' %}
  		<a href="{% url 'manager:request_trajectory' project.id simulation.id %}" class="btn btn-mini" type="button" data-loading-text="Requesting..." onclick="$(this).button('loading')">Request trajectory</a>
      {% elif simulation.trajectory_state == 'Requested' %}
      <button class="btn btn-mini btn-warning disabled" type="button">Trajectory requested</button>
      <a href="{% url 'manager:update_analysis' project.id simulation.id %}" class="btn btn-mini" type="button">Update status</a>
      {% elif simulation.trajectory_state == 'Ready' %}
      <button class="btn btn-mini btn-danger" type="button">Delete trajectory</button>
      <button class="btn btn-mini btn-success" type="button">Download trajectory</button>
      {% endif %}

  	</td>
  </tr>
  {% endfor %}
  <tr>
  	<td>All</td>
  	<td></td>
  	<td></td>
  	<td style="text-align:right">
      {% if project_trajectory_state == '' %}
        <a href="{% url 'manager:request_trajectory' project.id %}" class="btn btn-mini" type="button" data-loading-text="Requesting..." onclick="$(this).button('loading')">Request trajectory</a>
      {% elif project_trajectory_state == 'Requested' %}
        <button class="btn btn-mini btn-warning disabled" type="button">Trajectory requested</button>
        <a href="{% url 'manager:update_analysis' project.id %}" class="btn btn-mini" type="button">Update status</a>
      {% elif project_trajectory_state == 'Ready' %}
        <button class="btn btn-mini btn-success" type="button">Download trajectories</button>
      {% endif %}
  	</td>
</tbody>
</table>

{% if render_rmsd == True %}
<div class="span7 offset2">
  <img src="{% url 'manager:render_rmsd' project.id %}" />
</div>
{% endif %}

{% endblock %}